body
{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}

button
{
    text-align: center;
}

div
{   margin-left: 30%;
    overflow: hidden;
    margin: 100px;
    position: relative;
}


p
{
    text-align: center;
    line-height: 80px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
}

p.next
{
    position: absolute;
    top: 100px;

}

p.animate
{
    transition: all 0.5s;
    top:0px;
}